MAIL_USERNAME=neaswsubmission@zohomail.in
MAIL_PASSWORD=YOUR_ZOHO_APP_PASSWORD
MAIL_FROM=neaswsubmission@zohomail.in
MAIL_FROM_NAME=NEASW Submission
MAIL_SERVER=smtp.zoho.in
MAIL_PORT=587
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
USE_CREDENTIALS=True
VALIDATE_CERTS=True
MAIL_TO_ADMIN=neaswsubmission@zohomail.in
